html, body {
    height: 100%;
}

body {
    margin: 0px;
    background-color: rgb(30%, 40%, 100%);
    color: rgb(100%, 100%, 100%);
}

a {
    text-decoration: none;
    color: rgb(100%, 100%, 100%);
}
.pro-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pro-info-box nav {
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
}

.pro-info-box nav div {
    padding: 10px;
}

.pro-info-header {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
}

.pro-info-header div h1 {
    font-size: 10em;
    margin: 0px;
}

.pro-info-header div p {
    font-size: 2em;
    margin: 0px;
}

.pro-info-box footer {
    display: flex;
    align-self: stretch;
}

.pro-info-box footer div {
    padding: 10px;
}

