@import 'colors.scss';
@import 'geometry.scss';


html, body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    a {
        outline: 0;
        text-decoration: none;
    }

    nav {
        top: 0;
        left: 0;

        ul {
            list-style: none;
            position: relative;
            float: right;
            display: inline-table;
            margin: 0;
            padding: 0;

            li {
                float: left;
                transition: all 0.333s ease-in-out;
                margin: 0;
                padding: $offset_small 0.5em $offset_small 0.5em;

                a {
                    display: block;
                    color: $main_text_color;
                }
            }

            li:hover {
                ul {
                    display: block;
                }
                background-color: $header_bg_color;
            }

            ul {
                margin: 0;
                padding: 0;
                display: none;
                position: absolute;
                top: 100%;
                background-color: $text_bg_color_alt;
                margin-left: -0.5em;

                li {
                    float: none;
                    position: relative;

                    a {
                        color: $main_dark_text_color;
                    }

                    border-bottom: 1px solid $text_bg_color;
                }

                li:hover {
                    background-color: $text_bg_color;
                }
            }
        }
    }

    nav, footer {
        background-color: $main_bg_color;
        width: 100%;
        font-family: $main_font;
    }

    footer {
        div {
            padding: $offset;
            font-size: 1em;
            color: $main_text_color;
        }
    }
}
