@import 'colors.scss';
@import 'geometry.scss';
@import 'media.scss';


.content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: $offset_small;

    div {
        @include use(small) {
            width: 100%;
        }

        @include use(medium) {
            width: (100% / 2);
        }

        @include use(large) {
            width: (100% / 3);
        }

        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: $offset_small;

            header {
                width: 100%;
                background-color: $header_bg_color;
                text-align: center;
                font-size: 1em;
                color: $main_text_color;
                font-family: $main_font;
            }

            div {
                width: 100%;
                border: 2px solid $header_bg_color;
                border-top: 0;
                padding: 0;

                p {
                    background: $text_bg_color;
                    margin: 0;
                    padding: $offset_small;
                    font-family: $main_font;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        color: $main_dark_text_color;
                    }

                    a:hover {
                        color: $mark_main_dark_text_color;
                    }
                }

                p:nth-child(2n) {
                    background: $text_bg_color_alt;
                }
            }
        }
    }
}
