{% extends "base.html" %}


{% load sass_tags %}


{% block head %}
    <link rel="stylesheet" href="{% sass_src 'scss/login.scss' %}">
{% endblock %}


{% block content %}
    <header>
        <h1>
            Form header
        </h1>
    </header>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <div>
                    {{ field.label_tag }}
                </div>
                <div>
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div>
            <div>
                <label for="id_username">Check data and press button:</label>
            </div>
            <div>
                <button type="submit">
                    Login
                </button>
            </div>
        </div>
    </form>
{% endblock%}
