{% extends "base.html" %}


{% load sass_tags %}


{% block head %}
    <link rel="stylesheet" href="{% sass_src 'scss/rfixuser.scss' %}">
{% endblock %}


{% block content %}
    {% if performer_tasks %}
        {% for task in performer_tasks %}
            <div>
                <div>
                    <header>
                        {{ task.name }}
                    </header>
                    <div>
                        {{ task.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if reviewer_tasks %}
        {% for task in reviewer_tasks %}
            <div>
                <div>
                    <header>
                        {{ task.name }}
                    </header>
                    <div>
                        {{ task.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if tester_tasks %}
        {% for task in tester_tasks %}
            <div>
                <div>
                    <header>
                        {{ task.name }}
                    </header>
                    <div>
                        {{ task.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock%}
