
{% load sass_tags %}
{% load meta_builder %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8">
        {% autoescape off %}
        {% build_meta_tags page %}
        {% endautoescape %}
        <link rel="stylesheet" href="{% sass_src 'scss/base.scss' %}">
    </head>
    <body>
        <div class="main">
            <nav>
                {% for link in links %}
                <div><a href="{{ link.href }}">{{ link.name }}</a></div>
                {% endfor %}
            </nav>
            <div>
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <div>{{ email }}</div>
            </footer>
        </div>
    </body>
</html>
