{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% sass_src 'scss/base.scss' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
        {% block head %}
        {% endblock %}
        <title>{{ page.tile }}</title>
    </head>
    <body>
        <div class="main">
            <nav>
                <ul>
                    {% for link in links %}
                        <li>
                            <a href="{{ link.href }}">{{ link.name }}</a>
                            {% if link.sublinks %}
                                <ul>
                                    {% for sublink in link.sublinks %}
                                        <li>
                                            <a href="{{ sublink.href }}">{{ sublink.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <div>rasmadeus@gmail.com</div>
            </footer>
        </div>
    </body>
</html>
