{% load sass_tags %}
{% load meta_builder %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8">
        {% autoescape off %}
        {% build_meta_tags page %}
        {% endautoescape %}
        <link rel="stylesheet" href="{% sass_src 'scss/guest.scss' %}">
    </head>
    <body>
        <div class="pro-info-box">
            <nav>
                <div><a href="">Support</a></div>
                <div><a href="">Login</a></div>
            </nav>
            <div class="pro-info-header">
                <div>
                    <h1>RFIX</h1>
                    <p>lightweight bugtracker</p>
                </div>
            </div>
            <footer>
                <div>rasmadeus@gmail.com</div>
            </footer>
        </div>
    </body>
</html>
