<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/guest.css">
        <title></title>
    </head>
    <body>
        <div class="pro-info-box">
            <nav>
                <div><a href="">Support</a></div>
                <div><a href="">Login</a></div>
            </nav>
            <div class="pro-info-header">
                <div>
                    <h1>RFIX</h1>
                    <p>lightweight bugtracker</p>
                </div>
            </div>
            <footer>
                <div>rasmadeus@gmail.com</div>
            </footer>
        </div>
    </body>
</html>
